body {
	align: center;
	background: #f6f4f0;
	font-family: 'Arsenal', sans-serif;
}

h1 {
	text-align: center;
	color: #717371;
}

.container {
	width: 100%;
}

.container div {
	float: left;
	margin-bottom: 15px;
}

.odd {
	width: 50%;
}

.even {
	width: 50%;
}

table {
	text-align: center;
	background-origin: separate;
	border-spacing: 5px;
	background: #ece9E0;
	color: #656665;
	border: 16px solid #ece9e0;
	border-radius: 20px;
	margin: 0 50px;
	padding: 0 50px;
}

th {
	font-size: 20px;
	padding: 10px;
}

td {
	font-size: 18px;
}

footer {
	text-align: center;
	padding-top: 50px;
	color: #717371;
}

a {
	text-decoration: none;
	color: #656665;
}

a:hover {
	font-size: 20px;
	color: #000;
}