body {
	align: center;
	background: #f6f4f0;
	font-family: 'Arsenal', sans-serif;
}

h1 {
	text-align: center;
	color: #717371;
}

@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}

.container1 {
	text-align: center;
	font-size: 35px;
	color: #717371;
    width: 50%;
    margin: 2rem auto;
    padding: 2em;
    
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
}

.container1:hover {
    animation-play-state: running;
}

.container {
	width: 100%;
}

.container div {
	float: left;
	margin-bottom: 15px;
}

.odd {
	width: 50%;
}

.even {
	width: 50%;
}

table {
	text-align: center;
	background-origin: separate;
	border-spacing: 5px;
	background: #ece9E0;
	color: #656665;
	border: 16px solid #ece9e0;
	border-radius: 20px;
	margin: 0 50px;
	padding: 0 50px;
}

th {
	font-size: 20px;
	padding: 10px;
}

td {
	font-size: 18px;
}

footer {
	text-align: center;
	padding-top: 50px;
	color: #717371;
}

a {
	text-decoration: none;
	color: #656665;
}

a:hover {
	font-size: 20px;
	color: #000;
}