body {
	text-align: center;
}

.container {
	width: 100%;
	margin: 0 50px;
}

.container div {
	float: left;
	margin-bottom: 15px;
}

.odd {
	width: 50%;
}

.even {
	width: 50%;
}

table {
	font-family: sans-serif;
	background-origin: separate;
	border-spacing: 5px;
	background: #ece9E0;
	color: #656665;
	border: 16px solid #ece9e0;
	border-radius: 20px;
}

th {
	font-size: 18px;
	padding: 10px;
}

footer {
	padding-top: 50px;
}